lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

npm_install/
node_modules/
unity2/Builds
unity2/Temp
unity2/Library
unity2/Assembly-CSharp-vs.csproj
unity2/Assembly-CSharp.csproj
